@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.05) inset !important;
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.05) inset !important;

  -webkit-text-fill-color: #f8fafc !important; /* tambahin !important di sini */
  caret-color: #f8fafc !important;

  transition: background-color 9999s ease-in-out 0s !important;
}